li{
    list-style: none;
    display: inline-block;
    
}
a{
    text-decoration: none;
    color: black;
}
.mid{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

body{
    text-align: center;
}