.border {
    border: 2px solid black;
    width: 800px;
    height: 500px;
}
.box {
    display: flex;

}
.mid {
    width: 25%;
    height: 400px;
}
.orange, .orange2 {
    width: 800px;
    height: 50px;
    background: rgb(255, 115, 0);  
}
.red {
    background: red;
}
.blue {
    background: blue;
}
.green {
    background: green;
}
.purple {
    background: purple;
}
.black {
    background: black;
}