.black {
    width: 800px;
    height: 500px;
    background: #000;
    float: left;
    padding: 2px;
}
.orange, .orange2 {
    width: 800px;
    height: 50px;
    background: rgb(255, 115, 0); 
    clear: both;
}

.mid {
    width: 25%;
    height: 400px;
    background: red;
    float: left;
}
.red {
    background: red;
}
.blue {
    background: blue;
}
.green {
    background: green;
}
.purple {
    background: purple;
}